body, button {
  font-family: "Inter Tight", sans-serif;
  color: black;
  background-color: #ABC4FF;
}

h1, h2 {
  margin: 0;
}

.your-move, .move-selection, .your-move-front, .scoreboard, .scores, .players, .scoreboard-front, .round-action, .round-play, .player-select, .computer-select, .reset {
  display: flex;
  gap: 20px;
}

.heading {
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 50px;
  font-weight: 900;
}

.caption {
  color: #00275E;
  font-weight: bold;
  margin: 10px;
  font-size: 20px;
}

.your-move-front, .scoreboard-front, .round-action, .reset {
  justify-content: center;
}

.your-move, .round-play {
  align-items: center;
}

.your-move, .scoreboard, .round-play {
  flex-direction: column;
  padding: 20px;
}

.your-move, .scoreboard {
  background-color: #CCDBFD;
  border-radius: 10px;
  width: 500px;
}

.play, .reset-button {
  padding: 10px 30px;
  border-style: none;
  border-radius: 10px;
  transition: .1s;
}

.play {
  font-size: 36px;
}

.scores, .players, .round {
  justify-content: space-between;
  margin: 0px 50px;
}

.scoreboard-front {
  margin-top: 20px;
}

.playerScore, .computerScore, .dash {
  font-size: 72px;
  font-weight: bold;
  width: 60px;
}

.computerScore {
  text-align: right;
}

.scoreboard-title, .dash, .round-num {
  text-align: center;
}

.round-play {
  margin: 20px;
}

.player-select, .computer-select {
  font-size: 48px;
  width: 75px;
  height: 75px;
  background-color: #CCDBFD;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.reset {
  margin: 20px;
}

.reset-button {
  font-size: 24px;
  background-color: #CCDBFD;
}

.play-effect {
  transform: scale(1.2);
  background-color: #6893ee;
}